/* Define color variable */
:root {
    --primary-color: #4caf72;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language-selector {
    background-color: var(--primary-color);
    color: white;
    padding: 1em;
    border: none;
    margin-bottom: 0.5em;
}

section {
    background-color: #f0f3e3;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

h2 {
    color: var(--primary-color);
    text-shadow: 2px 2px 4px #ccc;
}